<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addlisting</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<br><br>
  <mat-toolbar>
    <span>Add new Listings</span>
  </mat-toolbar>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="listing.title" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price" (keypress)="numberOnly($event)" [(ngModel)]="listing.price" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Lot Size" (keypress)="numberOnly($event)" [(ngModel)]="listing.lotSize" required>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Sell or Rent" [(ngModel)]="listing.forSale" required>
        <mat-option value="option1" [value]="true">For sell</mat-option>
        <mat-option value="option2" [value]="false">For rent</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Number of Bedrooms" (keypress)="numberOnly($event)" [(ngModel)]="listing.numBedrooms" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Number of Bathrooms" [(ngModel)]="listing.numBathrooms" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Street" [(ngModel)]="listing.street" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="City" [(ngModel)]="listing.city" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="State" [(ngModel)]="listing.state" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Zip code" (keypress)="numberOnly($event)" [(ngModel)]="listing.zipCode" required>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Hospital Access" [(ngModel)]="listing.hospitalAccess" required>
        <mat-option value=" option1" [value]="true" >Yes</mat-option>
        <mat-option value=" option2" [value]="false" >No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Bart Access" [(ngModel)]="listing.BARTAccess" required>
        <mat-option value="option1" [value]="true">Yes</mat-option>
        <mat-option value="option2" [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Wheelchair Access" [(ngModel)]="listing.wheelchairAccess" required>
        <mat-option value="option1" [value]="true">Yes</mat-option>
        <mat-option value="option2" [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Near Laundry" [(ngModel)]="listing.laundry" required>
        <mat-option value="option1" [value]="true">Yes</mat-option>
        <mat-option value="option2" [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Listing Type" [(ngModel)]="listing.listingType" required>
        <mat-option value="option1">House</mat-option>
        <mat-option value="option2">Apartment</mat-option>
        <mat-option value="option3">Condo</mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>

    <!--https://stackoverflow.com/questions/47936183/angular-file-upload-->
    <div class="form-group">
      <label for="file">Upload the pictures</label>
      <br>
      <input type="file"
             id="file"
             (change)="handleFileInput($event.target.files)">
    </div>

  </div>
  <div class ="btn1">
    <button (click)="onSubmit()">Create the Listing</button>
  </div>
<br><br>
</body>
</html>
