<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>

      <!--FORM FIELDS HERE-->
    <div fxLayout="column" fxLayoutAlign="center">
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" [(ngModel)]="user.firstName" name="firstName" required><br>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" [(ngModel)]="user.lastName" name="lastName" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [(ngModel)]="user.password" name="password" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="Email address" [(ngModel)]="user.emailAddress" name="emailAddress" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone number" [(ngModel)]="user.phoneNumber" name="phoneNumber" required>
      </mat-form-field>
    </div>

  </mat-card-content>
  <mat-card-actions>

    <!-- REGISTER BUTTON -->
    <button mat-raised-button (click)="onSubmit()" color="primary">Register</button>

  </mat-card-actions>
</mat-card>
