.my-toolbar {
  background-color: white;
  /* Gradient backgrounds for toolbar */
  /*background-image: linear-gradient(141deg, #04a6d7 0%, #209cee 100%);*/
  /*background-image: linear-gradient(141deg, rgba(4, 198, 255, 0) 0%, rgba(35, 168, 255, 0.2) 100%);*/
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

/* unvisited link */
a:link {
  color: rgba(0, 0, 0, 0.75);
}

/* visited link */
a:visited {
  color: rgba(0, 0, 0, 0.75);
}

/* mouse over link */
a:hover {
  color: rgba(0, 0, 0, 0.4);
}

/* selected link */
a:active {
  color: rgba(0, 0, 0, 0.75);
}

a {
  text-decoration: none;
  padding-right: 20px;
  font-size: 14px;
}

.my-header-title {
  padding-left: 5px;
}

.my-mat-button {
  color: rgba(0, 0, 0, 0.75);
  background-color: white;
}


