<!--<nav class="navbar is-dark">-->
  <!--&lt;!&ndash; menu &ndash;&gt;-->
  <!--<div class="navbar-menu">-->
    <!--<div class="navbar-start">-->
      <!--<a class="navbar-item" routerLink="">Home</a>-->
      <!--<a class="navbar-item" routerLink="about-us">About us</a>-->
      <!--<a class="navbar-item" routerLink="property">Property</a>-->
      <!--<a class="navbar-item" routerLink="register">Register</a>-->
      <!--<a class="navbar-item" routerLink="login">Login</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->


<!-- works in Angular 7.2.4 + Angular Material 7.3.2 as of February 14, 2019 -->
<!--<mat-toolbar color="primary">-->
  <!--<mat-toolbar-row>-->

    <!--<span>Better Home</span>-->

    <!--&lt;!&ndash; This fills the remaining space of the current row &ndash;&gt;-->
    <!--<span class="example-fill-remaining-space"></span>-->

    <!--<a mat-button [routerLink]="['/']">Angular Material Navigation</a>-->
    <!--&lt;!&ndash;<a mat-button *ngFor="let link of links" [routerLink]="link.path" [routerLinkActive]="['mat-button-toggle-checked', 'active-route']"&ndash;&gt;-->
       <!--&lt;!&ndash;#rla="routerLinkActive">&ndash;&gt;-->
      <!--&lt;!&ndash;{{link.label}}&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
  <!--</mat-toolbar-row>-->
<!--</mat-toolbar>-->

<mat-toolbar color="primary" class="my-toolbar">
  <span>
    <a mat-button [routerLink]="'/'"><h3>Better Home</h3></a>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <!--<span>Right Aligned Text</span>-->
  <a mat-button [routerLink]="'/login'">Login</a>
  <a mat-button [routerLink]="'/register'">Register</a>

<a mat-button *ngFor="let link of links" [routerLink]="link.path">
{{link.label}}
</a>

</mat-toolbar>

<!--<nav class="navbar navbar-dark bg-dark">-->
  <!--&lt;!&ndash; Navbar content &ndash;&gt;-->
<!--</nav>-->
