.card-header-title {
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}

.img-container {
  max-height: 400px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.img-wrap {
  display: inline-block;
  position: relative;
}

.img-delete {
  position: absolute;
  top: 14px;
  right: 16px;
}
