.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-form {
  margin-top: 8px;
  margin-right: 20px;
}

.cont-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cont-input {
  width: 240px;
  margin-right: 20px;
}

.cont-button {
  margin-right: 10px;
}
