.main-div {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.my-mat-card {
  max-width: 500px;
  width: 100%;
}

.cont-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cont-input {
  width: 100%;
}
