<section class="hero is-info is-fullheight is-bold">
  <div class="hero-body">
    <h1 class="title">Search </h1>
    <div class="container">
      <!-- Home Search -->
      <div class="home_search">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="home_search_container">
                <div class="home_search_content">
                  <form action="#" class="search_form d-flex flex-row align-items-start justfy-content-start">
                    <div class="search_form_content d-flex flex-row align-items-start justfy-content-start flex-wrap">
                      <div>
                        <select class="search_form_select">
                          <option disabled selected>For rent </option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                      <div>
                        <select class="search_form_select">
                          <option disabled selected>All types</option>
                          <option>Apartment</option>
                          <option>House</option>
                          <option>Condo</option>
                          <option>TownHouse</option>
                        </select>
                      </div>
                      <div>
                        <select class="search_form_select">
                          <option disabled selected>City</option>
                          <option>New York</option>
                          <option>Paris</option>
                          <option>Amsterdam</option>
                          <option>Rome</option>
                        </select>
                      </div>
                      <div>
                        <select class="search_form_select">
                          <option disabled selected>Bedrooms</option>
                          <option>Any</option>
                          <option>Studio</option>
                          <option>1 Bed</option>
                          <option>2 Bed</option>
                          <option>3 Bed</option>
                          <option>4 Bed</option>
                        </select>
                      </div>
                      <div>
                        <select class="search_form_select">
                          <option disabled selected>Bathrooms</option>
                          <option>1</option>
                          <option>1.5</option>
                          <option>2</option>
                          <option>2.5</option>
                          <option>3</option>
                        </select>
                      </div>
                    </div>
                    <button class="search_form_button ml-auto">search</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



