/*:host>.container {*/
/*  max-width: 1264px;*/
/*  width: 100%;*/
/*  margin: 0 auto;*/
/*  display: flex;*/
/*  justify-content: space-between;*/

/*  background: none;*/
/*  float: left;*/
/*}*/

/*:host>.mat-tab-group {*/
/*  flex-direction: row;*/
/*}*/
/*:host>.mat-tab-header {*/
/*  border-bottom: none;*/
/*}*/
/*:host>.mat-tab-header-pagination {*/
/*  display: none !important;*/
/*}*/
/*:host>.mat-tab-labels {*/
/*  flex-direction: column;*/
/*}*/
/*:host>.mat-ink-bar {*/
/*  height: 100%;*/
/*  left: 98% !important;*/
/*}*/
/*:host>.mat-tab-body-wrapper {*/
/*  flex: 1 1 auto;*/
/*}*/


/*.container {*/
/*  position: relative;*/
/*  width: 100%;*/
/*  flex: 1 0 auto;*/
/*  margin: 0 auto;*/
/*  text-align: left;*/
/*}*/

/*#content {*/
/*  box-sizing: content-box;*/
/*  margin: 0 auto;*/
/*  padding: 15px;*/
/*  width: 1264px;*/
/*  background-color: #ffffff;*/
/*}*/

/*#content {*/
/*  max-width: 1100px;*/
/*  width: 100%;*/
/*  background-color: #ffffff;*/
/*  padding: 24px;*/
/*  box-sizing: border-box;*/
/*}*/
/*#content {*/
/*  max-width: 1100px;*/
/*  width: 100%;*/
/*  background-color: #fff;*/
/*  padding: 24px;*/
/*  box-sizing: border-box;*/
/*}*/
/*#content::before, #main-content::before, #content::after, #main-content::after {*/
/*  content: "";*/
/*  display: table;*/
/*}*/
/*#content::after, #main-content::after {*/
/*  clear: both;*/
/*}*/

/*.label{*/
/*  font-size: xx-large;*/
/*  font-weight: bold;*/

/*}*/

::ng-deep .mat-tab-labels {
   font-size: 20px;
   justify-content: center;
 }

::ng-deep .mat-tab-label {
  font-size: 18px;
}
