
<mat-tab-group>
  <mat-tab label="My Profile">
    <mat-toolbar>
      <span>My Profile</span>
    </mat-toolbar>

    <div class="card-body">

      <form>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" type="text">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email Address" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone Number" type="text">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
        <div class="col-md-3">
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Street Address" type="text">
        </mat-form-field>
        </div>
        <div class="col-md-4">
        <mat-form-field class="example-full-width">
        <input matInput placeholder="City" type="text">
        </mat-form-field>
        </div>
        </div>

        <div class="row">
        <div class="col-md-3">
        <mat-form-field class="example-full-width">
        <input matInput placeholder="State" type="text">
        </mat-form-field>
        </div>
        <div class="col-md-4">
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Zip Code" type="text">
        </mat-form-field>
        </div>
        </div>

        <div class="w3-center">
          <div class="w3-section">
            <button mat-raised-button type = "save">Save</button>
          </div>
        </div>

        <!--<button mat-raised-button  type = "edit" class="btn btn-danger pull-right">Edit</button>-->

      </form>

    </div>
  </mat-tab>
  <mat-tab label="My Listings">

    <mat-toolbar>
      <span>MyListings</span>
    </mat-toolbar>


    <section class="section">
      <div class="container">
        <div class="card" *ngFor="let listing of listings">
          <mat-card class="example-card">
            <p><a [routerLink]="[listing.Lid]">{{ listing.title }}</a></p>
            <div class = "delete-btn">
              <button mat-raised-button>Delete</button>
              <button mat-raised-button>Modify</button>
            </div>

          </mat-card>
        </div>
      </div>

    </section>
    <div class ="btn1">
      <button >+ Add New Listings</button>
    </div>

  </mat-tab>




  <mat-tab label="Favorites">
    <mat-toolbar>
      <span>Favorites</span>
    </mat-toolbar>
    <section class="section">
      <div class="container">
        <div class="card" *ngFor="let listing of listings">
          <mat-card class="example-card">
            <p><a [routerLink]="[listing.Lid]">{{ listing.title }}</a></p>
            <div class = "delete-btn">
              <button mat-raised-button>Unfavorite</button>
            </div>

          </mat-card>
        </div>
      </div>

    </section>

  </mat-tab>


</mat-tab-group>
