
<mat-tab-group>
  <mat-tab label="My Account">
    <mat-toolbar>
      <span>My Account</span>
    </mat-toolbar>
  </mat-tab>
  <mat-tab label="My Listings">

    <mat-toolbar>
      <span>MyListings</span>
    </mat-toolbar>


    <section class="section">
      <div class="container">
        <div class="card" *ngFor="let listing of listings">
          <mat-card class="example-card">
            <p><a [routerLink]="[listing.Lid]">{{ listing.title }}</a></p>
            <button mat-raised-button>Delete</button>
            <button mat-raised-button>Modify</button>
          </mat-card>
        </div>
      </div>

    </section>
    <div class ="btn1">
      <button >+ Add New Listings</button>
    </div>

  </mat-tab>




  <mat-tab label="Favorites">
    <mat-toolbar>
      <span>Favorites</span>
    </mat-toolbar></mat-tab>

  <mat-tab label="Add new Listings">
    <mat-toolbar>
      <span>Add new Listings</span>
    </mat-toolbar>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Title">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Price">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Lot Size">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Sell or Rent">
          <mat-option value="option1">For sell</mat-option>
          <mat-option value="option2">For rent</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Number of Bedrooms">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Number of Bathrooms">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Street">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zip code">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Hospital Access">
          <mat-option value="option1">Yes</mat-option>
          <mat-option value="option2">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Bart Access">
          <mat-option value="option1">Yes</mat-option>
          <mat-option value="option2">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Wheelchair Access">
          <mat-option value="option1">Yes</mat-option>
          <mat-option value="option2">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Near Laundry">
          <mat-option value="option1">Yes</mat-option>
          <mat-option value="option2">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="LotSize">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Listing Type">
          <mat-option value="option1">House</mat-option>
          <mat-option value="option2">Apartment</mat-option>
          <mat-option value="option3">Condo</mat-option>
        </mat-select>
      </mat-form-field>



      <mat-form-field>
        <textarea matInput placeholder="Description"></textarea>
      </mat-form-field>

      <!--https://stackoverflow.com/questions/47936183/angular-file-upload-->
      <div class="form-group">
        <label for="file">Upload the pictures</label>
        <br>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">
      </div>

    </div>
    <div class ="btn1">
      <button >Create the Listing</button>
    </div>
    <br><br>


  </mat-tab>
</mat-tab-group>
