.property-toolbar {
  min-height: 74px;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(107, 107, 107, 0.35);
}

.property-toolbar-title {
  font-size: 20px;
  padding-top: 5px;
  padding-left: 5px;
}

.cont-search ::ng-deep .mat-form-field-underline {
  display: none;
}
.cont-form ::ng-deep .mat-form-field-underline {
  display: none;
}
.cont-price-range ::ng-deep .mat-form-field-underline {
  display: none;
}

.property-grid-list {
  background-color: transparent;
}

.property-grid-title {
  border: 1px;
}

.property-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-card {
  position: relative;
  align-items: center;
}

.favorite-button {
  position: absolute;
  top: 12px;
  right: 16px;
  height: 36px;
  width: 20px;
}

.property-card-title {
  margin-bottom: 8px;
}

.property-card-image {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.img-container {
  max-height: 500px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.img-wrap {
  display: inline-block;
  position: relative;
}

.property-paginator {
  margin-bottom: 10px;
}

.space {
  margin-top: 15px;
  margin-bottom: 10px;
}

.cont-form {
  margin-top: 20px;
  margin-right: 20px;
  max-width: 135px;
}

.cont-search {
  margin-left: 35px;
  margin-top: 20px;
  margin-right: 20px;
  max-width: 210px;
}

.cont-price-range {
  margin-top: 20px;
  margin-right: 20px;
  max-width: 80px;
}

.a-link-card {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}

.property-access-title {
  margin-top: -10px;
  color: rgba(0, 0, 0, 0.6);
}
