.example-container {
  width: 1100px;
  height:940px;
  margin: 10px;
  border: 1px none #555;
}

.example-button-row button {
  margin-left: 8px;
  margin-right:250px;

  background-color: aliceblue;
}

.space{margin-left:10px;}


mat-grid-tile {
  background: lightblue;
}
.search-container {
  margin-left:10px;
  display: flex;
  flex-direction: row;

}


.search-container > * {
  width: 150px;

  outline: 1px none black;
}
img.img1{
  margin-left: 20px;
  width: 100px;
  height: 100px;
}
