<div class="container">
  <div class="container-fluid property-toolbar">

    <mat-form-field class="cont-search" [floatLabel]="'never'">
      <input matInput placeholder="Search by city..." [(ngModel)]="listingSearch.city" (keyup.enter)="onSearchClick()" required>
      <a class="my-search" mat-button matSuffix color="primary" (click)="onSearchClick()"><mat-icon>search</mat-icon></a>
    </mat-form-field>

    <mat-form-field class="cont-form" [floatLabel]="'never'">
      <mat-label>Listing Type</mat-label>
      <mat-select [(value)]="listingSearch.listingType">
        <mat-option value="Any">Any Type</mat-option>
        <mat-option value="House">House</mat-option>
        <mat-option value="Apartment">Apartment</mat-option>
        <mat-option value="Condo">Condo</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="cont-form" [floatLabel]="'never'">
      <mat-label>Sale or Rental</mat-label>
      <mat-select [(value)]="listingSearch.forSale">
        <mat-option value=null>Sale and Rental</mat-option>
        <mat-option value=1>Sale</mat-option>
        <mat-option value=0>Rental</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="cont-form" [floatLabel]="'never'">
      <mat-label>Bedrooms</mat-label>
      <mat-select [(value)]="listingSearch.numBedrooms">
        <mat-option value=0>Any Beds</mat-option>
        <mat-option value=1>1 Bed</mat-option>
        <mat-option value=2>2 Beds</mat-option>
        <mat-option value=3>3 Beds</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="cont-form" [floatLabel]="'never'">
      <mat-label>Bathrooms</mat-label>
      <mat-select [(value)]="listingSearch.numBathrooms">
        <mat-option value=0>Any Bathrooms</mat-option>
        <mat-option value=1>1 Bathroom</mat-option>
        <mat-option value=2>2 Bathrooms</mat-option>
        <mat-option value=3>3 Bathrooms</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="space">
    <h2>Property Listings</h2>
    <mat-paginator class="property-paginator"
                   [length]="listings.length" [pageSize]="15">
    </mat-paginator>
  </div>

  <div class="property-container" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <mat-card class="property-card" appMaterialElevation defaultElevation="3" raisedElevation="24"
              [fxFlex]="rowWidth"
              (window:resize)="onResize($event)"
              *ngFor="let listing of listings">

      <mat-card-header [routerLink]="[listing.listingId]">
        <mat-card-title>{{listing.title}}</mat-card-title>
        <mat-card-subtitle>{{listing.city}}</mat-card-subtitle>
      </mat-card-header>

      <img class="property-card-image"
           [routerLink]="[listing.listingId]"
           [src]="listing.imageUrls[0]"
           alt="Image not found">

      <mat-card-content>
        <p>{{listing.description}}</p>
      </mat-card-content>

      <mat-card-actions>
        <div fxFlex></div>
        <a mat-button (click)="onFavoriteClick()">
          <mat-icon>favorite_border</mat-icon>
        </a>
      </mat-card-actions>

    </mat-card>
  </div>

  <mat-paginator class="property-paginator"
    [length]="listings.length" [pageSize]="15">
  </mat-paginator>

</div>
