.prop-cont {
  height: calc(100% - 65px);
}

.property-toolbar {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  min-height: 74px;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(107, 107, 107, 0.35);
}

.property-toolbar-title {
  font-size: 20px;
  padding-top: 5px;
  padding-left: 5px;
}

.cont-search ::ng-deep .mat-form-field-underline {
  display: none;
}
.cont-form ::ng-deep .mat-form-field-underline {
  display: none;
}

.property-grid-list {
  background-color: transparent;
}

.property-grid-title {
  /*display: flex;*/
  border: 1px;
}

.property-card {
  height: 96%;
  width: 96%;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  border: 1px;
}

.example-container {
  width: 1100px;
  height:940px;
  margin: 10px;
  border: 1px none #555;
}

.example-button-row button {
  margin-left: 8px;
  margin-right:250px;
  background-color: aliceblue;
}

.space {
  margin: 10px;
}

.cont-form {
  margin-top: 20px;
  margin-right: 20px;
  max-width: 135px;
}

.cont-search {
  margin-right: 20px;
  max-width: 210px;
}

.search-container {
  /*margin-left:10px;*/
  /*display: flex;*/
  /*flex-direction: row;*/
}

.search-container > * {
  width: 150px;
  outline: 1px none black;
}

mat-grid-tile {
  background: lightblue;
}

img.img1 {
  margin-left: 20px;
  width: 100px;
  height: 100px;
}
