<html>
<title>Individual Listing</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="body">

<div class="w3-center">
  <div class="w3-section">

    <div>
      <button mat-raised-button (click)="addToFavorites()" color="primary">+ Add to Favorites</button>
    </div>
    <div class="my-container">

      <drag-scroll #drag_scroll>
        <img drag-scroll-item *ngFor="let photo of listing.propertyPhotos" [src]="photo" alt="" />
      </drag-scroll>

    </div>
  </div>

  <div>
    <button class="w3-button w3-light-grey" (click)="moveLeft()" mat-button>❮ Prev</button>
    <button class="w3-button w3-light-grey" (click)="moveRight()" mat-button>Next ❯</button>
  </div>

</div>

<!--  -->
<div class="propertyOverview" *ngIf="listing.Lid">
  <h2>Overview</h2>
  <hr width="50%" size="8">
  <p><i class="fa fa-dollar fa-fw w3-margin-right w3-large "></i> For {{ forSale(listing.forSale) }} ${{ listing.price }}</p>
  <p><i class="fa fa-bath fa-fw w3-margin-right w3-large "></i> {{ listing.numBedrooms }} bed, {{ listing.numBathrooms }} bath</p>
  <p><i class="fa fa-map-marker fa-fw w3-margin-right w3-large "></i> {{ listing.street }} {{ listing.city }} {{ listing.zipCode }}</p>
  <h2>Contact</h2>
  <p><i class="fa fa-phone fa-fw w3-margin-right w3-large "></i> {{user.phoneNumber}}</p>
  <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large "></i> {{user.emailAddress}}</p>
</div>

</body>
</html>
