<div class="container example-container">
  <h2 class="post-listing-header">Post Listing</h2>

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" [(ngModel)]="listing.title" required>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>Listing Type</mat-label>
    <mat-select placeholder="Listing Type" [(value)]="listing.listingType" required>
      <mat-option value="House">House</mat-option>
      <mat-option value="Apartment">Apartment</mat-option>
      <mat-option value="Condo">Condo</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>Sale or Rent</mat-label>
    <mat-select placeholder="Sale or Rent" [(value)]="listing.forSale" required>
      <mat-option value=1>Sale</mat-option>
      <mat-option value=0>Rent</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="cont-form">
    <mat-label>Bedrooms</mat-label>
    <mat-select [(value)]="listing.numBedrooms" required>
      <mat-option value=1>1 Bed</mat-option>
      <mat-option value=2>2 Beds</mat-option>
      <mat-option value=3>3 Beds</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="cont-form">
    <mat-label>Bathrooms</mat-label>
    <mat-select [(value)]="listing.numBathrooms" required>
      <mat-option value=1>1 Bathroom</mat-option>
      <mat-option value=2>2 Bathrooms</mat-option>
      <mat-option value=3>3 Bathrooms</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>Street</mat-label>
    <input matInput placeholder="Street" [(ngModel)]="listing.street" required>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>City</mat-label>
    <input matInput placeholder="City" [(ngModel)]="listing.city" required>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>State</mat-label>
    <input matInput placeholder="State" [(ngModel)]="listing.state" required>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>Zip code</mat-label>
    <input matInput placeholder="Zip code" (keypress)="numberOnly($event)" [(ngModel)]="listing.zipCode" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput placeholder="Price" (keypress)="numberOnly($event)" [(ngModel)]="listing.price" required>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>Lot Size</mat-label>
    <input matInput placeholder="Lot Size" (keypress)="numberOnly($event)" [(ngModel)]="listing.lotSize" required>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>Hospital Access</mat-label>
    <mat-select placeholder="Hospital Access" [(value)]="listing.hospitalAccess">
      <mat-option value=1>Yes</mat-option>
      <mat-option value=0>No</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>Bart Access</mat-label>
    <mat-select placeholder="Bart Access" [(value)]="listing.BARTAccess">
      <mat-option value=1>Yes</mat-option>
      <mat-option value=0>No</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>Wheelchair Access</mat-label>
    <mat-select placeholder="Wheelchair Access" [(value)]="listing.wheelchairAccess">
      <mat-option value=1>Yes</mat-option>
      <mat-option value=0>No</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>Laundry Access</mat-label>
    <mat-select placeholder="Laundry Access" [(value)]="listing.laundry">
      <mat-option value=1>Yes</mat-option>
      <mat-option value=0>No</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="cont-input">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description" [(ngModel)]="listing.description" required></textarea>
  </mat-form-field>

  <div>
    <mat-spinner *ngIf="!isLoaded"></mat-spinner>
  </div>

  <!--Image Uploading-->
<!--  <ng-template [ngIf]="!didSaveImages">-->
    <td-file-upload #fileMultipleUpload
                    (select)="saveImages($event)"
                    accept=".jpg, .jpeg, .png, .tif"
                    defaultColor="primary"
                    activeColor="primary"
                    cancelColor="primary"
                    multiple>
      <mat-icon>file_upload</mat-icon>
      <span>
    {{fileMultipleUpload.value?.name || fileMultipleUpload.value?.length}}
        <span *ngIf="fileMultipleUpload.value?.length">files selected</span>
  </span>
      <ng-template td-file-input-label>
        <mat-icon>attach_file</mat-icon>
        <span>Upload images</span>
      </ng-template>
    </td-file-upload>
<!--  </ng-template>-->

  <ng-template [ngIf]="didSaveImages">
    <div>
      <button class="create-listing-btn"
              fxLayout="column"
              fxLayoutAlign="center"
              mat-raised-button
              color="primary"
              (click)="onSubmit()">
        Create Listing
      </button>
    </div>
  </ng-template>

</div>
