.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.post-listing-header {
  padding-top: 20px;
  padding-bottom: 8px;
}

.cont-input {

}

.create-listing-btn {
  height: 50px;
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
}
