.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding-bottom: 10px;
}

mat-form-field {
  width: 100%;
}

.form-field-div {
  display: flex;
  justify-content: center;
}

.post-listing-header {
  padding-top: 20px;
  padding-bottom: 8px;
}

.cont-input {
  padding-left: 10px;
  padding-right: 10px;
}

.cont-form {
  padding-left: 10px;
  padding-right: 10px;
}

.create-listing-btn {
  height: 50px;
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
}
