<section class="hero is-info is-fullheight-with-navbar is-bold">
  <div class="hero-body">
    <div class="main-div">

      <div>
        <h1 class="cont-title">Advanced Search</h1>
      </div>

      <mat-card class="my-mat-card mat-elevation-z24">

        <mat-form-field class="cont-form">
          <mat-label>Listing Type</mat-label>
          <mat-select [(value)]="listingSearch.listingType">
            <mat-option value="Any">Any</mat-option>
            <mat-option value="House">House</mat-option>
            <mat-option value="Apartment">Apartment</mat-option>
            <mat-option value="Condo">Condo</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="cont-form">
          <mat-label>Sale or Rental</mat-label>
          <mat-select [(value)]="listingSearch.forSale">
            <mat-option value=null>Both</mat-option>
            <mat-option value=1>Sale</mat-option>
            <mat-option value=0>Rental</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="cont-form">
          <mat-label>Bedrooms</mat-label>
          <mat-select [(value)]="listingSearch.numBedrooms">
            <mat-option value=0>Any</mat-option>
            <mat-option value=1>1+ Bed</mat-option>
            <mat-option value=2>2+ Beds</mat-option>
            <mat-option value=3>3+ Beds</mat-option>
            <mat-option value=4>4+ Beds</mat-option>
            <mat-option value=5>5+ Beds</mat-option>
            <mat-option value=6>6+ Beds</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="cont-form">
          <mat-label>Bathrooms</mat-label>
          <mat-select [(value)]="listingSearch.numBathrooms">
            <mat-option value=0>Any</mat-option>
            <mat-option value=1>1+ Bath</mat-option>
            <mat-option value=2>2+ Baths</mat-option>
            <mat-option value=3>3+ Baths</mat-option>
            <mat-option value=4>4+ Baths</mat-option>
            <mat-option value=5>5+ Baths</mat-option>
            <mat-option value=6>6+ Baths</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="cont-form">
          <mat-label>Accessibility</mat-label>
          <mat-select [formControl]="accessibilities" multiple (selectionChange)="onAccessibilityChange()">
            <mat-option *ngFor="let accessibility of accessibilityList" [value]="accessibility">{{accessibility}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="cont-price-range">
          <input matInput placeholder="Min price" [(ngModel)]="listingSearch.minPrice" (keypress)="numberOnly($event)" (keyup.enter)="onSearchClick()">
        </mat-form-field>

        <mat-form-field class="cont-price-range">
          <input matInput placeholder="Max price" [(ngModel)]="listingSearch.maxPrice" (keypress)="numberOnly($event)" (keyup.enter)="onSearchClick()">
        </mat-form-field>

        <mat-form-field class="cont-search">
          <input matInput placeholder="Search by city..." [(ngModel)]="listingSearch.city" (keyup.enter)="onSearchClick()" required>
          <a class="my-search" mat-button matSuffix color="primary" (click)="onSearchClick()"><mat-icon>search</mat-icon></a>
        </mat-form-field>

      </mat-card>

      <div>
        <mat-spinner *ngIf="!isLoaded"></mat-spinner>
      </div>

    </div>

  </div>
  <app-footer></app-footer>
</section>
