<mat-toolbar>
  <span>Login</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>

    <!--FORM FIELDS HERE-->
    <div fxLayout="column" fxLayoutAlign="center">
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
      </mat-form-field>
    </div>

  </mat-card-content>
  <mat-card-actions>

    <!-- LOGIN BUTTON -->
    <button mat-raised-button (click)="onSubmit()" color="primary">Login</button>

    <mat-spinner *ngIf="!isLoaded"></mat-spinner>

  </mat-card-actions>
</mat-card>

