<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registerForm</title>
</head>
<body>
  <mat-card>
     <span>Create New Account</span>
  </mat-card>
  <br>
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Please fill with your details</p>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username " value=""/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Email " value=""/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Password " value=""/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Confirm Password " value=""/>
            </div>
          </div>
        </div>
        <button type="button" class="btnSubmit">Submit</button>
      </div>
    </div>
  </div>
</body>
</html>

